# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Local python packages
.python_packages/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Azure functions
local.settings.json

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json

# Intellij
.idea
container_settings.json
src/

# VSCode
.vscode

# VIM
*.swp

# macOS
.DS_Store


# Local testing
acme_dns_azure/config.yaml
tests/**/*/*.yaml

# test results 
.coverage
junit
test-results
coverage.xml

# Terraform

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Exclude all .tfvars files, which are likely to contain sentitive data, such as
# password, private keys, and other secrets. These should not be part of version
# control as they are data points which are potentially sensitive and subject
# to change depending on the environment.
#
*.tfvars

# package
dist/