acme==2.7.4 ; python_version >= "3.8" and python_version < "4.0"
azure-common==1.1.28 ; python_version >= "3.8" and python_version < "4.0"
azure-core==1.30.0 ; python_version >= "3.8" and python_version < "4.0"
azure-identity==1.15.0 ; python_version >= "3.8" and python_version < "4.0"
azure-keyvault-certificates==4.7.0 ; python_version >= "3.8" and python_version < "4.0"
azure-keyvault-secrets==4.7.0 ; python_version >= "3.8" and python_version < "4.0"
azure-mgmt-core==1.4.0 ; python_version >= "3.8" and python_version < "4.0"
azure-mgmt-dns==8.1.0 ; python_version >= "3.8" and python_version < "4.0"
certbot-dns-azure==2.4.0 ; python_version >= "3.8" and python_version < "4.0"
certbot==2.7.4 ; python_version >= "3.8" and python_version < "4.0"
certifi==2024.2.2 ; python_version >= "3.8" and python_version < "4.0"
cffi==1.15.1 ; python_version >= "3.8" and python_version < "4.0" and platform_python_implementation != "PyPy"
charset-normalizer==3.3.2 ; python_version >= "3.8" and python_version < "4.0"
configargparse==1.7 ; python_version >= "3.8" and python_version < "4.0"
configobj==5.0.8 ; python_version >= "3.8" and python_version < "4.0"
cryptography==42.0.4 ; python_version >= "3.8" and python_version < "4.0"
distro==1.9.0 ; python_version >= "3.8" and python_version < "4.0"
idna==3.6 ; python_version >= "3.8" and python_version < "4.0"
importlib-metadata==6.7.0 ; python_version >= "3.8" and python_version < "3.10"
importlib-resources==5.12.0 ; python_version >= "3.8" and python_version < "3.9"
isodate==0.6.1 ; python_version >= "3.8" and python_version < "4.0"
josepy==1.14.0 ; python_version >= "3.8" and python_version < "4.0"
msal-extensions==1.1.0 ; python_version >= "3.8" and python_version < "4.0"
msal==1.27.0 ; python_version >= "3.8" and python_version < "4.0"
packaging==23.2 ; python_version >= "3.8" and python_version < "4.0"
parsedatetime==2.6 ; python_version >= "3.8" and python_version < "4.0"
portalocker==2.7.0 ; python_version >= "3.8" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.8" and python_version < "4.0" and platform_python_implementation != "PyPy"
pyjwt[crypto]==2.8.0 ; python_version >= "3.8" and python_version < "4.0"
pyopenssl==24.0.0 ; python_version >= "3.8" and python_version < "4.0"
pyrfc3339==1.1 ; python_version >= "3.8" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.8" and python_version < "4.0"
pytz==2024.1 ; python_version >= "3.8" and python_version < "4.0"
pywin32==306 ; python_version >= "3.8" and python_version < "4.0" and (sys_platform == "win32" or platform_system == "Windows")
pyyaml==6.0.1 ; python_version >= "3.8" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.8" and python_version < "4.0"
setuptools==68.0.0 ; python_version >= "3.8" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.8" and python_version < "4.0"
strictyaml==1.7.3 ; python_version >= "3.8" and python_version < "4.0"
typing-extensions==4.7.1 ; python_version >= "3.8" and python_version < "4.0"
urllib3==2.0.7 ; python_version >= "3.8" and python_version < "4.0"
zipp==3.15.0 ; python_version >= "3.8" and python_version < "3.10"
