name: Azure function

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install and configure Poetry
        uses: snok/install-poetry@v1
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install dependencies
        working-directory: ./examples/function
        run: |
          poetry install
          poetry run build
      - name: upload_artifact
        uses: actions/upload-artifact@v4
        with:
          name: acme_dns_azure_function
          path: ./examples/function/dist/*.zip
          if-no-files-found: error
